@import '../../../helpers/mixins/media';

.burger {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 6px;
  width: 40px;

  @include respond(tablet) {
    display: none;
  }
}
