@import '../../../../helpers/mixins/media';

.surface__controllers {
  display: flex;
  gap: 10px;
  position: absolute;
  right: var(--page-padding-mobile-side);
  top: 7px;

  @include respond(laptop) {
    gap: 20px;
    position: static;
  }
}
