@import '../../../../helpers/mixins/media';

.section_lined_top {
  border-top: 1px solid var(--theme-border-color);
  padding-top: 20px;

  @include respond(laptop) {
    border: none;
    margin: 0;
  }
}
