@import '../../../../helpers/mixins/media';

.hero__slide {
  background: transparent url('/images/content/hero-background.jpg') no-repeat center / cover;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin-left: auto;
  min-height: 348px;
  padding: 120px 0 40px;
  width: calc(100% - 30px);

  @include respond(laptop) {
    bottom: 0;
    max-height: 836px;
    max-width: min(50%, 610px);
    min-height: auto;
    padding: 300px 0 79px;
    position: absolute;
    right: 0;
  }

  @include respond(fullhd) {
    max-width: max(50%, 610px);
  }
}
