@import '../../../helpers/mixins/media';

.hero {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 40px 0;
  position: relative;
  width: 100%;

  @include respond(laptop) {
    max-width: var(--page-max-width);
    align-items: flex-start;
    //min-height: calc(100vh - var(--header-height));
    padding: 80px 70px;
    min-height: 856px;
  }

  @include respond(desktop) {
    padding: 80px 100px;
  }

  @include respond(fullhd) {
    padding: 80px 120px;
  }
}
