@import '../../../../helpers/mixins/media';

.header__wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  max-width: var(--page-content-width);
  width: 100%;
  gap: 12px;
}
