@import '../../../helpers/mixins/media';

.logo {
  width: 32px;
  height: 32px;
  background-color: var(--theme-title-color);
  -webkit-mask-image: url('../images/logo.svg');
  mask-image: url('../images/logo.svg');
  transition: background-color .5s ease;

  @include respond(tablet) {
    display: none;
  }
}
