@import '../../../../helpers/mixins/media';

.workout__image {
  width: 100%;
  min-width: 284px;

  @include respond(tablet) {
    min-width: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
}
