@import '../../../../helpers/mixins/media';

.workout__image {
  min-width: 284px;
  width: 100%;

  @include respond(tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    min-width: auto;
  }
}
