@import '../../../../helpers/mixins/media';

.workout__content {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  padding-top: 40px;

  @include respond(laptop) {
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, 1fr);
  }
}
