.switch__check {
  background-color: var(--swith-dot-color);
  border-radius: 9999px;
  box-shadow: 0 0 0 var(--color-white);
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: background-color 0.25s ease, transform 0.25s ease, opacity .25s ease;
  width: 20px;
}
