@import '../../../../../styles/helpers/mixins/media';

.bicycles__image {
  width: 100%;
  min-width: 254px;

  @include respond(laptop) {
    min-width: auto;
  }

  @include respond(desktop) {
    box-sizing: border-box;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.04);
    padding: 20px;
    background: var(--bicycles-card-background);
    border-radius: 20px;
  }
}
