@import '../../../../../helpers/mixins/media';

.section__wrapper_position_workout {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 40px;
  padding-top: 40px;

  @include respond(laptop) {
    padding: 0;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, 1fr);
  }
}
