@import '../../../../../helpers/mixins/media';

.section__wrapper_position_workout {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  padding-top: 40px;

  @include respond(tablet) {
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
  }
}
