.popup__close {
  background-color: var(--theme-title-color);
  height: 33px;
  -webkit-mask-image: url('../images/icons/close.svg');
  mask-image: url('../images/icons/close.svg');
  position: absolute;
  right: 20px;
  top: 27px;
  transition: background-color 0.5s ease;
  width: 32px;
}
