@import '../node_modules/normalize.css/normalize.css';
@import '../vendor/fonts/fonts.css';
:root {
  /* general colors */
  --color-white: #fff;
  /* font */
  --font: 'Inter', Arial, sans-serif;
  /* page */
  --page-min-width: 320px;
  --page-content-width: 1200px;
  --page-max-width: 1440px;
  --page-padding-side: 18px;
  /* header */
  --header-height: 74px;
  /* switch */
  --swith-dot-color: #24b47e;
  /* z-index */
  --z-index-banner: 10;
  --z-index-popup: 10000;
}
@media screen and (min-width: 481px) {
  :root {
    --page-padding-side: 12px;
  }
}
@media screen and (min-width: 769px) {
  :root {
    --header-height: 56px;
  }
}

:root .page_theme_light {
  /* theme */
  --theme-background: #f4f4f4;
  --theme-background-footer: #ebebeb;
  --theme-title-color: #151515;
  --theme-text-primary-color: rgba(34, 34, 34, 0.4392156863);
  --theme-text-secondary-color: #cfcfcf;
  --theme-border-color: rgba(199, 199, 199, 0.3137254902);
  --theme-border-hover-color: #c7c7c7;
  --theme-switch-background: #fff;
  --theme--switch-icon-color: #cfcfcf;
}

:root .page_theme_dark {
  --theme-background: #333333;
  --theme-background-footer: #2f2f2f;
  --theme-title-color: #fff;
  --theme-text-primary-color: rgba(230, 230, 230, 0.4392156863);
  --theme-text-secondary-color: #565656;
  --theme-border-color: rgba(125, 125, 125, 0.3137254902);
  --theme-border-hover-color: #7d7d7d;
  --theme-switch-background: #545454;
  --theme--switch-icon-color: #676767;
}

/* page */
.page {
  align-items: center;
  background-color: var(--theme-background);
  box-sizing: border-box;
  color: var(--theme-text-primary-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  margin: 0 auto;
  min-height: 100vh;
  min-width: var(--page-min-width);
  width: 100%;
}

.page__header {
  box-sizing: border-box;
  width: 100%;
}

.page__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 var(--page-padding-side);
  width: 100%;
}

.page__footer {
  box-sizing: border-box;
  width: 100%;
}

.page__button {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
}

.page__image {
  display: block;
  object-fit: cover;
  object-position: center;
}

.page__link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.25s ease;
}

.page__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page__paragraph {
  margin: 0;
  padding: 0;
  transition: color 0.25s ease;
}

.page__title {
  margin: 0;
  transition: color 0.25s ease;
}

.page__input {
  border: none;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--header-height);
  padding: 0 var(--page-padding-side);
}

.header__wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  max-width: var(--page-content-width);
  width: 100%;
  gap: 12px;
}

/* navigation */
.navigation {
  display: flex;
  gap: 34px;
}

.navigation_position_header {
  display: none;
}
@media screen and (min-width: 481px) {
  .navigation_position_header {
    display: flex;
  }
}

.navigation_position_burger {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 481px) {
  .navigation_position_burger {
    display: none;
  }
}

.navigation__item {
  color: var(--theme-title-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  transition: color 0.25s ease;
}
@media screen and (min-width: 481px) {
  .navigation__item {
    font-size: 14px;
    line-height: 1.29;
  }
}

.navigation__link {
  transition: opacity 0.25s ease;
}
.navigation__link:hover {
  opacity: 0.75;
}

/* burger */
.burger {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40px;
  padding: 10px 6px;
}
@media screen and (min-width: 481px) {
  .burger {
    display: none;
  }
}
.burger:hover .burger__line {
  opacity: 0.75;
}
.burger:hover .burger__line_position_top {
  transform: translate(2px);
}
.burger:hover .burger__line_position_middle {
  transform: translate(0);
}
.burger:hover .burger__line_position_bottom {
  transform: translate(8px);
}

.burger__container {
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 22px;
}

.burger__line {
  background-color: var(--theme-title-color);
  height: 2px;
  position: absolute;
  transition: background-color 0.5s ease, transform 0.25s ease, color 0.25s ease, opacity 0.25s ease;
  width: 22px;
}

.burger__line_position_top {
  top: 0;
  left: 0;
}

.burger__line_position_middle {
  left: 0;
  top: 8px;
}

.burger__line_position_bottom {
  left: 0;
  top: 16px;
}

/* footer */
.footer {
  align-items: center;
  background-color: var(--theme-background-footer);
  display: flex;
  justify-content: center;
  padding: 60px var(--page-padding-side) 16px;
  color: var(--theme-title-color);
}
@media screen and (min-width: 481px) {
  .footer {
    padding: 60px var(--page-padding-side);
  }
}

.footer__wrapper {
  max-width: var(--page-content-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.footer__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* subscription */
.subscription {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 481px) {
  .subscription {
    max-width: 360px;
  }
}
@media screen and (min-width: 769px) {
  .subscription {
    gap: 50px;
  }
}

.subscription__title {
  color: var(--theme-title-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  transition: color 0.25s ease;
}

.subscription__form {
  display: flex;
  flex-direction: column;
}
.subscription__form:focus-within .subscription__input {
  border-color: var(--theme-border-hover-color);
  outline: none;
}
.subscription__form:focus-within .subscription__button {
  opacity: 1;
  visibility: visible;
}
.subscription__form:focus-within .subscription__input::placeholder {
  color: transparent;
}

.subscription__label {
  position: relative;
}

.subscription__input {
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;
  color: var(--theme-title-color);
  min-height: 50px;
  padding: 11px 20px;
  transition: border-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}
.subscription__input::placeholder {
  color: var(--theme-title-color);
  opacity: 0.7;
  transition: color 0.25s ease;
}
.subscription__input:hover {
  cursor: pointer;
}

.subscription__button {
  align-items: center;
  color: var(--theme-title-color);
  display: flex;
  height: 28px;
  opacity: 0;
  position: absolute;
  right: 22px;
  top: 11px;
  transition: visibility 0.25s ease, opacity 0.25s ease;
  visibility: hidden;
}

/* disclaimer */
.disclaimer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--theme-text-secondary-color);
}

/* logo */
.logo {
  width: 32px;
  height: 32px;
  background-color: var(--theme-title-color);
  -webkit-mask-image: url('../images/logo.svg');
  mask-image: url('../images/logo.svg');
  transition: background-color 0.5s ease;
}
@media screen and (min-width: 481px) {
  .logo {
    display: none;
  }
}

/* appearance */
.appearance {
  display: flex;
  align-items: center;
  gap: 22px;
}

.appearance_position_burger {
  display: flex;
}
@media screen and (min-width: 481px) {
  .appearance_position_burger {
    display: none;
  }
}

.appearance_position_footer {
  display: none;
}
@media screen and (min-width: 481px) {
  .appearance_position_footer {
    display: flex;
  }
}

.appearance__icon {
  background-color: var(--theme--switch-icon-color);
  transition: background-color 0.5s ease;
}

.appearance__icon_mode_light {
  width: 28px;
  height: 28px;
  -webkit-mask-image: url('../images/sun.svg');
  mask-image: url('../images/sun.svg');
}

.appearance__icon_mode_dark {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url('../images/moon.svg');
  mask-image: url('../images/moon.svg');
}

/* switch */
.switch {
  background-color: var(--theme-switch-background);
  border: none;
  border-radius: 9999px;
  display: block;
  flex-shrink: 0;
  height: 24px;
  position: relative;
  transition: background-color 0.25s;
  width: 44px;
}
.switch:hover .switch__check {
  opacity: 0.75;
}

.switch_active .switch__check {
  transform: translateX(20px);
}

.switch__check {
  background-color: var(--swith-dot-color);
  border-radius: 9999px;
  box-shadow: 0 0 0 var(--color-white);
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: background-color 0.25s ease, transform 0.25s ease, opacity 0.25s ease;
  width: 20px;
}

/* popup */
.popup {
  background-color: var(--theme-background);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  opacity: 0;
  padding: 144px var(--page-padding-side) 36px;
  position: absolute;
  right: 0;
  transition: visibility 0.25s ease, opacity 0.3s ease;
  visibility: hidden;
  width: 100vw;
  z-index: var(--z-index-popup);
}

.popup_active {
  visibility: visible;
  opacity: 1;
}

.popup__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.popup__close {
  background-color: var(--theme-title-color);
  height: 33px;
  -webkit-mask-image: url('../images/close.svg');
  mask-image: url('../images/close.svg');
  position: absolute;
  right: 20px;
  top: 27px;
  transition: background-color 0.5s ease;
  width: 32px;
}

/*# sourceMappingURL=main.css.map */
